img {
    width: 108px;
    height: 23px;
}
.line {
    border-left: 2px solid #000;
    height: 24px;
    content: " ";
    margin-left: 140px;
    position: absolute;
    top: 16px;
    left: 0;
}
#head span {
    display: block;
    font-size: 18px;
    font-weight: 600;
    margin-top: 0px;
    margin-left: 38px;
}
#content{
    /*width: 500;*/
    height: 250px;
}
img{
    width: 100%;
    height: 100%;
}