* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}

#navbar {
    height: 46px;
    background-color: #65676b;
}

#main_navbar {
    display: inline-block;
}

#main_navbar ul li {
    display: inline-block;
}

#login {
    float: right;
}

#login a {
    text-decoration: none;
    color: #cccccc;
    line-height: 46px;
    font-size: 20px;
    display: inline-block;
    padding: 0 20px;
}

#login:hover a {
    background-color: black;
    color: white;
}

#main_navbar li a {
    display: inline-block;
    text-decoration: none;
    color: #cccccc;
    line-height: 46px;
    padding: 0 24px;
    font-size: 20px;
}

#main_navbar li:hover a {
    background-color: black;
    color: white;
}

#content {
    width: 100%;
    min-height: 654px;
}

#left {
    /*width: 25%;*/
    height: 100%;
    float: left;
}
#left li {
    text-align: center;
    padding: 10px;
}
#left li a{
    text-decoration: none;
}

#right {
    /*width: 25%;*/
    height: 100%;
    float: right;
}

#main_content {
    float: left;
    height: 100%;
    /*width: 50%;*/
}
#left ul {
    margin-top: 20px;
}
.ads_box{
    margin: 40px;
    padding: 20px;
    border-style: outset;
    border-width: 1px;
}
.ads_box p{
    text-align: center;
}
#main_content div{
    margin-top: 30px;
}
#main_content p {
    margin-top: 30px;
    justify-content: center;
    font-size: 18px;
}
#footer {
    height: 46px;
    background-color: #65676b;
}
#footer p{
    text-align: center;
    line-height: 46px;
    color: white;
    font-size: 18px;
}