img {
    margin-left: 250px;
}

h3
{
    text-align: center;
}
h1{
    text-align: center;
    margin-bottom: 20px;
}
p
{
    margin: 0 250px;
    text-align: justify;
    text-indent: 50px;
}
.header{
    font-size: 20px;
    margin: 100px -250px 15px;
    text-align: center;

}